* {
        font-family: "Inter", sans-serif;
        position: relative;
    }
    
body {
    background-image: linear-gradient(to right bottom, #94f0cc, #6de7db, #4adcea, #3ccff5, #51c0fa, #6bb9fd, #85b2fd, #9fa9f8, #b6a9fa, #cda8f9, #e2a8f7, #f6a7f2);
    background-attachment: fixed;
        
 }

 header {
    width: 20px;
    height: 20px;
    margin: 50px;
    
 }

main {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
        
} 

section {
    display: flex;
    flex-direction: row;
}

.input-texto {
    margin: 5px;
    width: auto;
    height: auto;
}

textarea {
    border-radius: 15px;
    background: #ffffff50;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(10px);
    font-size: 25px;
    text-align: justify;
    text-indent: 15px;
    
    
}

textarea:hover{
    background: #ffffff85;
    
}

textarea::-webkit-scrollbar {
    width: 10px;
  }

textarea::-webkit-scrollbar-track {
    background: #4cddf056;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #1a9ab980;
    border-radius: 10px;
  }

textarea::-webkit-scrollbar-thumb:hover {
    background: #51bffab7;
    border-radius: 10px;
  }

textarea::-webkit-scrollbar-thumb:active {
    background: #1b7aadb2;
    border-radius: 10px;
  }


button {
    margin-top: 9px;
    border-radius: 24px;
    padding: 15px;
    border: 2px solid #ffffff30;

}

.botoes {
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
                  
}

.encriptar {
    background-color: #80a8f2b7;    
    
}

.encriptar:hover{
    background-color: #80a8f2;
    
}

.desencriptar {
    background-color: #f6a7f2a1;
    
}

.desencriptar:hover {
    background-color: #f6a7f2be;
    
}

.informacao {
    font-size: 15px;
    margin-top: 9px;
    margin-left: 40px;
}

.mensagem {
    margin: 5px;
    width: auto;
    height: auto;
}

.copiar {
    position: relative;
    background-color: #94f0cdb4;
    box-sizing: border-box;
    margin-left: 150px;
    
}

.copiar:hover {
    background-color: #94f0cdd5;
}
